<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />

		<pages pageParserFilterType="OpenRasta.Codecs.WebForms.OpenRastaPageParserFilter, OpenRasta.Codecs.WebForms">
			<namespaces>
				<add namespace="OpenRasta.Web"/>
				<add namespace="OpenRasta.Web.Markup"/>
				<add namespace="OpenRasta.Codecs.WebForms"/>
				<add namespace="OpenRasta.Codecs.SharpView" />
				<add namespace="OpenRasta" />
				<add namespace="OpenRastaAuthSample.Handlers"/>
				<add namespace="OpenRastaAuthSample.Resources"/>
				<add namespace="System.Collections.Generic" />
			</namespaces>
			<!--<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>-->
		</pages>

		<!-- THis is important so that no other authentication mechanism take over-->
		<authentication mode="None"/>
		
		<httpHandlers>
			<add verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet"/>
		</httpHandlers>
		<httpModules>
			<add name="RastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
		</httpModules>
	</system.web>
</configuration>
